.Faq{
    /* background-color: #4bb1fe; */
    padding: 8vw 0 3vw;
}

.Faq .title{
    font-size: 1.4vw;
    text-align: left;
    margin-bottom: 1vw;
}

.Faq .sub{
    text-align: left;
    font-size: 1vw;
}

.fqaList li{
    margin-bottom: 3vw;
}

@media screen and (max-width: 420px){
    .Faq{
        padding: 18vw 0 10vw;
    }
}
