.play_game_list{
  margin-top: 8vw;
}

.play_game_item{
  display: flex;
  margin-top: -8vw;
}
.play_game_item:first-child{
  margin-top: 0;
}

.play_game_item >div{
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.play_game_item .video_box{
  max-width: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.play_game_item:nth-child(even) .right_box{
  order: -1;
}

/* .play_game_item:nth-child(even) .left_box{ */
  /* justify-content: flex-end; */
/* } */