
@font-face {
  font-family: MELight;
  src: url(public/static/fonts.MonumentExtended-Light.ttf);
}
@font-face {
  font-family:MERegular;src:url(/static/fonts/MonumentExtended-Regular.ttf);
}

@font-face {
  font-family:MEUltrabold;src:url(/static/fonts/MonumentExtended-Ultrabold.otf) format("opentype")
}

@font-face {
  font-family:CBBI;src:url(/static/fonts/Comic-Book-Bold-Italic.otf) format("opentype")
}


