.header{
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 16px);
  z-index: 10;
  background-color: rgba(0,0,0,.5);
}

.spec{
  flex: 1;
}
.logo{
  background: url(./images/logo.png) center no-repeat;
  width: 8vw;
  height: 5vw;
  padding: 0;
  margin: 0;
  text-indent: -1000px;
  background-size: contain;
  
}

.flex{
  display: flex;
}

.block{
  display: block;
}
.align-center{
  justify-content: center;
  align-items: center;
}


.navList{
  display: flex;
  margin: 0 -1vw;
}
.pad3{
  padding: 3vw 0;
}

.navList a{
  color: #fff;
  text-transform: uppercase;
  font-size: .8vw;
  font-weight: 500;
  font-family: MEUltrabold, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.navList .active a,.navList .active, .navList a:hover{
  color: #2bff98;
  text-decoration: none;
}

.navList .item{
    padding: 0 .6vw;
}


.header .navBtn {
  display: none;
}

.nav-model{
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 6;
  transition: all 0.3s;
}

.nav-model.active{
  top: 0;
}

.nav-model .model-content{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.phoneNav{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.phone-nav-item{
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
  font-family: Neutro;
  padding: 2vw 0;
}

.iconUl{
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon ul li {
  width: 24px;
  height: 2px;
  background: #fff;
  margin: 4px auto;
  transition: all 0.3s;
  border-radius: 19px;
}
.icon ul:hover {
	cursor:pointer;
}
.iconUl.active li:nth-child(2) {
	opacity:0;
}
.iconUl.active li:nth-child(1) {
	transform:translateY(4px) rotate(45deg)
}
.iconUl.active li:nth-child(3) {
	transform:translateY(-8px) rotate(-45deg)
}

@media screen and (max-width: 420px){
  .header{
    width: 100%;
  }
  .App{
    padding-top: 12vw;
  }
  .logo{
    width: 20vw;
    height: 12vw;
  }
  .header .navBtn{
    display: flex;
    align-items: center;
  }
  .navList.pc{
    display: none;
  }
  .textList{
    flex-direction: column;
    gap: 9vw;
  }
  .textList.navList a{
    font-size: 6vw;
  }
  .picList{
    margin-top: 13vw;
  }
  .picList.navList .item{
    padding: 0 10vw;
  }
  .phone_hide{
    display: none;
  }
}

.loading {
  background: #141B3B;
  /* background: radial-gradient(#2222223b, #000000d1); */
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loading .load_box{
  width: 30%;
  height: auto;
}

.loading .load_box .svg_box{
  animation: breathe 3s linear;
  animation-iteration-count: infinite;
}

.loading .load_box svg{
  width: 100%;
}

.load_progress{
  display: flex;
  overflow: hidden;
  height: 30px;
  max-width: 600px;
  margin: auto;
  background: #0000006e;
  border-radius: 20px;
}

.load_progress-bar{
  width: 10%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width .6s ease;
  background-image: linear-gradient(
135deg,rgba(255, 255, 255, 0.603) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,0.603) 0,hsla(0,0%,100%,0.603) 75%,transparent 0,transparent);
  background-size: 2rem 2rem;
  animation: identifier 1s linear infinite;
}


@keyframes identifier {
  0% {
      background-position-x: 2rem;
  }
}


.cls-1 {
  mix-blend-mode: multiply;
}

.cls-2 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}





@keyframes breathe {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.9);
  }
}