.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,.5);
}

.spec{
  flex: 1;
}
.logo{
  background: url(./images/logo.png) center no-repeat;
  width: 8vw;
  height: 5vw;
  padding: 0;
  margin: 0;
  text-indent: -1000px;
  background-size: contain;
  
}

.flex{
  display: flex;
}

.block{
  display: block;
}
.align-center{
  justify-content: center;
  align-items: center;
}


.navList{
  display: flex;
  margin: 0 -1vw;
}
.pad3{
  padding: 3vw 0;
}

.navList a{
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 500;
}

.navList .item{
    padding: 0 .8vw;
}