.welcome{
  padding: 7vw 0 10vw;
  background: #141B3B;
  margin-top: -4vw;
  border-radius: 30px;
  z-index: 5;
  position: relative;
}

.swiper{
  width: 30vw;
  padding: 3vw 2vw;
  margin: 3vw auto;
}


.swiper-slide {
  transform: scale(1);
  transition: all .3s linear;
  width: 100%;
  height: 15vw;
}
.swiper-slide.swiper-slide-active{
  transform: scale(1.3);
  z-index: 2;
}

.swiper-slide.swiper-slide-prev{
  transform: translateX(35%);
}

.swiper-slide.swiper-slide-next{
  transform: translateX(-35%);
}

.swiper-slide .swiper_img{
  background-size: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events.swiper::after {
  content: '';
  left: 0;
  top: 0;
  display: block;
  background: red;
  height: 100%;
}

.welcome .text_model,.welcome .button_group{
  text-align: center;
}

.roadmap{
  text-align: center;
  padding: 5vw 0;
}

.title{
  color: #fff;
  font-size: 2.35vw;
  text-align: center;
  letter-spacing: 3px;
  font-family: MEUltrabold, Helvetica, sans-serif;
  text-transform: uppercase;
}

.sub{
  text-align: center;
  font-family: MERegular, Helvetica, sans-serif;
  color: #ffffffb3;
  font-size: 15px;
  line-height: 2;
}

.text_model{
  line-height: 2;
  font-size: .75vw;
  font-family: MERegular, Helvetica, sans-serif;
  width: 80%;
  margin: auto;
}

.button_group .link{
  background: transparent;
  border: 1px solid rgb(248, 96, 223);
  display: inline-block;
  padding: .6vw;
  text-align: center;
  text-transform: uppercase;
  min-width: 220px;
  border-radius: 30px;
}




.bottom_model img{
  height: 5vw;
}

.game{
  padding-bottom: 5vw;
}

.gameStp{
  display: flex;
  grid-gap: 2.5vw;
  gap: 2.5vw;
  width: 100%;
}

.stpItem{
  flex: 1 1;
}


.gameStp .stpItem .img_box img{
  width: 100%;
}

.text_box .text_title{
  padding:1vw;
  font-size: 1.6vw;
  font-family: MEUltrabold, Helvetica, sans-serif;
  margin-top: 1.5vw;
  letter-spacing: 3px;
}

.text_box .text_des{
  font-size: .8vw;
  line-height: 1.6;
  color: #ffffffb3;
  font-family: MERegular, Helvetica, sans-serif;
}



.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #c5cae921;
  width: 5px;
  height: 82%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-item {
  width: 100%;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}


.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}
.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-item p {
  text-align: left;
  font-family: MERegular, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  line-height: 2;
  font-size: .8vw;
  position: relative;
  padding-left: 22px;
}

.timeline-item p::before{
  content: '';
  height: 2px;
  width: 14px;
  background: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: .6vw;
}

.timeline-item h2 {
  font-size: 1.4vw;
  margin-bottom: 1vw;
  font-family: MEUltrabold, Helvetica, sans-serif;
  letter-spacing: 3px;
  text-align: left;
}

.timeline-title_blue{
  color: #6985E9;
}

.timeline-title_green{
  color: #A2C76D;
}

.timeline-title_purple{
  color: #A372D8;
}

.team{
  padding: 5vw 0;
}

.teamUl{
  display: flex;
  grid-gap: 2.5vw;
  gap: 2.5vw;
  width: 100%;
}

.teamUl li{
  flex: 1 1;
}

.lead{
  grid-gap: 4vw;
  gap: 4vw;
}

.lead li{
  display: flex;
  grid-gap: 0.5vw;
  gap: 0.5vw;
  align-items: center;
  justify-content: center;
}

.teamUl.core{
  grid-gap: 9vw;
  gap: 9vw;
}

.lead li div{
  flex: 1 1;
}

.teamUl .name{
  font-family: MEUltrabold, Helvetica, sans-serif;
  font-size: 1.4vw;
  letter-spacing: 3px;
  margin-bottom: 1vw;
}

.teamUl .post{
  font-family: MERegular, Helvetica, sans-serif;
  font-size: 1vw;
  color: #ffffffb3;
  margin-bottom: 1.5vw;
}

.teamUl .introduce{
  color: #ffffffb3;
  font-size: .7vw;
  font-family: MERegular, Helvetica, sans-serif;
}

.teamUl.core .name{
  margin-top: 2vw;
}

.teamUl.core *{
  text-align: center;
}


.wait{
  padding-bottom: 5vw;
  padding-top: 3vw;
}

.wait_con{
  padding: 55px 30px;
  background-image: url(../../images/email_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  max-width: 960px;
  margin: auto;
}


.wait_con .form input{
  background: #141B3B;
  border: none;
  display: block;
  min-width: 500px;
  margin: auto;
  padding: 15px;
  line-height: 2;
  font-size: 1vw;
  border-radius: 10px;
  font-family: MERegular, Helvetica, sans-serif;
  color: #ffffffb3;
}


.wait_con .form input:focus-visible{
  outline: none;
}


.submit_btn{
  background: none;
  outline: none;
  border: none;
  max-width: 240px;
  margin-top: 4vw;
  margin: 4vw auto 0;
  display: block;
}

.join{
  padding-bottom: 6vw;
}

.join_box{
  display: flex;
  align-items: center;
  /* max-width: 960px; */
  margin: auto;
  grid-gap: 2vw;
  gap: 2vw;
}

.join_box .join_img{
  width: 400px;
}

.join_box .join_text{
  flex: 1;
  
}

.join_box .join_text *{
  text-align: left;
}

.join_box .join_text{
  margin-top: 1vw;
}

.join_box .submit_btn{
  margin: 1vw 0 0;
}


@media screen and (max-width: 420px){
  .title{
    font-size: 20px;
  }
  .text_model{
    font-size: 12px;
    width: 100%;
    padding: 0 10px;
  }
  .bottom_model img{
    height: 20vw;
    margin-top: 8vw;
  }
  .swiper-slide{
    height: 40vw;
  }
  .welcome{
    padding: 15vw 0;
    margin-top: -5vw;
    border-radius: 19px;
  }
  body .title{
    margin-bottom: 10vw;
  }
  .swiper{
    width: 100%;
    margin: 10vw auto 18vw;
    padding: 5vw 10vw;
  }

  .gameStp{
    flex-wrap: wrap;
    padding: 20px;
  }
  .stpItem{
    flex: inherit;
    margin-bottom: 20px;
  }

  .text_box .text_title{
    font-size: 22px;
    margin-top: 20px;
  }
  .text_box .text_des{
    font-size: 12px;
  }
  .timeline-content{
    padding: 10px;
  }
  .timeline-item h2{
    font-size: 3.4vw;
  }
  .timeline-item p{
    font-size: 1.6vw;
  }
}